body {
  padding: 10px !important;
  caret-color: transparent;
}
textarea,
.text,
.area {
  caret-color: black;
}
.explore.art.card {
  color: black;
}
.explore.art.card.username {
  color: black;
  font-weight: bold;
}
.explore.art.card.likes {
  color: black;
  font-weight: bold;
}
.explore.art.card.username:hover {
  transition: color 0.1s ease;
  color: rgba(0, 0, 0, 0.653) !important;
  font-weight: bold;
}
.explore.art.card.likes:hover {
  transition: color 0.1s ease;
  color: rgba(0, 0, 0, 0.653);
  font-weight: bold;
}

.reply.comment.expand {
  color: rgba(0, 0, 0, 0.4);
}
.reply.comment.expand:hover {
  color: rgba(0, 0, 0, 0.721);
  transition: color 0.1s ease;
}

#small-like-btn {
  font-size: 0.73em;
  float: right;
}
#reply-count {
  float: right;
}
#small-like-count {
  float: right;
  margin-left: 3px;
}

#art-card {
  max-width: 600px;
}
#art-container {
  position: absolute;
  margin-left: 50%;
  display: flex;
  width: 1200px;
}

.column {
  display: flex;
  justify-content: center;
}

#comment-reply {
  font-size: 1em;
}

.button {
  background-color: rgba(68, 81, 155, 0.201);
}
.button:hover {
  background-color: rgba(40, 45, 70, 0.201);
}

html::-webkit-scrollbar {
  display: none;
}

.like.button.icon {
  background-color: white !important;
}

#like-button-main {
  background-color: white !important;
}

#sign {
  /*! ? delete ? */
  margin: auto;
  width: 100%;
}

.ui.stacked.segment {
  padding: 10px !important;
}
.ui.stacked.segment:after {
  padding: 10px !important;
  border: 0px;
  visibility: hidden;
}

#main {
  padding-top: 50px;
  padding-bottom: 50px;
}

#nav {
  transition: all 0.2s ease-in-out;
  height: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(194, 149, 83, 0.242);
}

#nav:hover {
  transform: scale(1.1);
  height: 40px;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 235, 205, 0.242);
}

/*! -------- user showpage --------- */

.ui.placeholder.square.image {
  height: 150px !important;
  width: 150px !important;
  border-radius: 50% !important;
}
.container {
  max-width: 90%;
  margin: auto;
}

.profile.container {
  border: 1px solid rgba(138, 135, 135, 0.276);
  padding: 1em;
}
.header.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.ui.divider.header {
  width: 90%;
  margin: auto;
}

.image.placeholder {
  position: relative;
  margin: auto;
  border: 0px solid transparent;
  border-radius: 0.15em;
}

/*! ---------- user showpage body ----------- */

.outer.body.containter {
  width: 90%;
  margin: auto;
}
.body.container {
  display: flex;
  align-content: center;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.body.image.container {
  display: flex;
  align-items: center;
  align-content: center;
  height: 300px;
  width: 300px;
  margin: auto;
  overflow: hidden;
  border: 0px solid transparent;
  border-radius: 0.15em;
}
.body.art.image {
  width: 100%;
  max-height: 100rem;
}

.ui.card.body {
  margin: 1em auto;
  display: flex;
  height: 500px;
  width: 350px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.body.text.content {
  margin-top: 10px;
}

/*! -------- art showpage --------- */
@media (max-width: 1152.8px) {
  .outer.artshow.left {
    width: 100%;
    margin: auto !important;
    margin-bottom: 1.5rem !important;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .artshow.details {
    width: 100%;

  }
}
@media (max-width: 350.98px) {
  .artshow.image.portrait {
    max-height: 300px !important;
    display: flex;
    width: auto;
    margin: auto;
  }
}

@media (max-width: 528.98px) {
  div .artshow.image.portrait {
    max-height: 340px;
    display: flex;
    width: auto;
    margin: auto;
  }
}
@media (max-width: 767.98px) {
  .outer.artshow.left {
    width: 100%;

    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .artshowdetail.description.header {
    color: (0, 0, 0, 0.87);
  }
  .artshowdetail.description {
    margin: 1em;
    width: 100%;
  }

  .artshow.details {
    margin: auto;
    width: 100%;
    justify-content: space-around;
  }
  .artshow.detail.seg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  .artshow.header {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
  }
}

.trunc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.artshow.image.portrait {
  max-height: 450px;
  width: auto;
  margin: auto;
}
.artshow.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.outer.artshow.left {
  flex-grow: 2;
  flex-basis: auto;
  margin: 0;
  margin-right: 1em;
  min-width: 40%;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid #d4d4d5; */
}
.artshow.details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  min-width: 50%;
  justify-content: space-between;
  margin-top: 0;
}
.artshow.detail.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.artshow.detail.seg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.artshow.detail.seg.bottom {
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
}

.imagecontainer.artshow {
  margin: auto;
  max-height: 600x;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid transparent;
  border-radius: 0.15em;
  overflow: hidden;
}
.artshow.caption {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artshow.nftg-specs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.displaychanger {
  margin: auto;
}

.buy.sell {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ethereum.sale {
  font-size: 2em;
}

.pricemessage {
  font-size: 1em;
  margin-left: 0.45em;
  width: fit-content;
}

.salemessage {
  width: 100%;
  font-size: 1em;
  transform: none;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #b0afaf;
}
.pricetag:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.01);
}

.cartspan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cartspan:hover p {
  color: black;
}

.shoppingcart {
  margin: auto;
}
.shoppingcart:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}

/*! -------- Likes --------- */
.likes.background::-webkit-scrollbar {
  display: none;
}
.likes.background {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.liker.card {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-width: stretch;
  min-width: -moz-available;
  min-width: -webkit-fill-available;
}

.bio.small {
  color: #b0afaf;
}

/*! -------- ui/mm/copy --------- */
@media (max-width: 767.98px) {
  .alertbox {
    margin-left: -7vw !important;
    position: fixed;
    display: flex;
    width: 100vw !important;
    height: fit-content;
    z-index: 11;
  }
}

.edit.icon {
  color: rgba(65, 65, 65, 0.249);
}
.edit.icon:hover {
  color: rgb(65, 65, 65);
}
.copy.outline {
  color: rgba(65, 65, 65, 0.249);
}
.copy.outline:hover {
  color: rgb(65, 65, 65);
}

.copy.outline.inverse {
  color: rgba(255, 255, 255, 0.77);
}
.copy.outline.inverse:hover {
  color: rgb(255, 255, 255);
}

.copied {
  position: fixed;
  margin: auto;
}
.message {
  margin: auto;
  color: white;
}
.banner {
  background-color: rgba(255, 105, 180, 0.53);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 3em;
  border: 0px solid hotpink;
  border-radius: 0.15em;
}

.alertbox {
  float: right;
  margin-left: 60vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: fit-content;
  z-index: 10;
}

.mm.alerts.container {
  display: flex;
  width: 100%;
}

.metamask.message.positive {
  padding-left: 0.5em;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  border: 0px solid;
  border-radius: 0.2em;
  position: absolute;
  z-index: 9;
  background-color: rgb(0, 0, 0);
}
