
.explore.art.card{
    color:black;
    
}
.explore.art.card.username{
    color:black;
    font-weight:bold
}
.explore.art.card.likes{
    color:black;
    font-weight:bold
}
.explore.art.card.username:hover{
    transition: color .1s ease;
    color:rgba(0, 0, 0, 0.653)!important;
    font-weight:bold
}
.explore.art.card.likes:hover{
    transition: color .1s ease;
    color:rgba(0, 0, 0, 0.653);
    font-weight:bold
}

.reply.comment.expand{
    color: rgba(0,0,0,.4);
    
}
.reply.comment.expand:hover{
    color: rgba(0, 0, 0, 0.721);
    transition: color .1s ease;
    
}

#small-like-btn{
    font-size: 0.73em;
    float: right;
}
#reply-count{
    float: right;
}
#small-like-count{
    float: right;
    margin-left: 3px;
    
}

#art-card{
   max-width: 600px;
} 
#art-container{
position:absolute;
   margin-left: 50%;
   display: flex;
   width: 1200px;
} 
.column{
    display:flex;
    justify-content: center;
}


#comment-reply{
    font-size: 1em;
}